In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle

In [2]:
data = pd.read_csv('car_data.csv')

In [3]:
data.columns

Index(['Age', 'Annual Salary', 'Credit Card Debt', 'Net Worth',
       'Car Purchase Amount'],
      dtype='object')

In [4]:
data.head(3)

   Age  Annual Salary  Credit Card Debt    Net Worth  Car Purchase Amount
0   41    62812.09301      11609.380910  238961.2505          35321.45877
1   40    66646.89292       9572.957136  530973.9078          45115.52566
2   43    53798.55112      11160.355060  638467.1773          42925.70921

In [5]:
data['Net Worth']

0      238961.2505
1      530973.9078
2      638467.1773
3      548599.0524
4      560304.0671
          ...
495    541670.1016
496    360419.0988
497    764531.3203
498    337826.6382
499    462946.4924
Name: Net Worth, Length: 500, dtype: float64

In [6]:
x = data[['Age', 'Annual Salary', 'Credit Card Debt', 'Net Worth']]
y = data['Car Purchase Amount']

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [8]:
my_linear_rig = LinearRegression()

In [9]:
display(x_train.shape, y_train.shape)
#

(350, 4)

(350,)

In [10]:
my_linear_rig.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
predictions = my_linear_rig.predict(x_test)

In [12]:
file = open("src/price_suggestion.pkl", 'wb')
pickle.dump(my_linear_rig, file)