In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle

In [2]:
data = pd.read_csv('car_data.csv')

In [3]:
data.dtypes

Age                      int64
Annual Salary          float64
Credit Card Debt       float64
Net Worth              float64
Car Purchase Amount    float64
dtype: object

In [4]:
data.columns

Index(['Age', 'Annual Salary', 'Credit Card Debt', 'Net Worth',
       'Car Purchase Amount'],
      dtype='object')

In [5]:
data.head(3)

   Age  Annual Salary  Credit Card Debt    Net Worth  Car Purchase Amount
0   41    62812.09301      11609.380910  238961.2505          35321.45877
1   40    66646.89292       9572.957136  530973.9078          45115.52566
2   43    53798.55112      11160.355060  638467.1773          42925.70921

In [6]:
len(data)

500

In [7]:
x = data[['Age', 'Annual Salary', 'Credit Card Debt', 'Net Worth']]
y = data['Car Purchase Amount']

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [9]:
my_linear_rig = LinearRegression()

In [10]:
display(x_train.shape, y_train.shape)
#

(350, 4)

(350,)

In [11]:
my_linear_rig.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
predictions = my_linear_rig.predict(x_test)

In [13]:
pickle.dump(my_linear_rig,open('model.pickle','wb'))

In [14]:
# model = pickle.load(open('price_suggestion.pkl','rb'))
# print(model.predict([ 20,26578,5673,100000 ]))

In [15]:
# import os
# if os.path.getsize('model.pkl') > 0:
#     print("Hello")
# else:
#     print("World")

In [17]:
# model = pickle.load(open('model.pickle','rb'))
# print(model.predict([ [20,26578,5673,100000] ]))

[-7104.39516218]